@model UserProfileViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4>پروفایل کاربری</h4>
                </div>

                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">نام کاربری</dt>
                        <dd class="col-sm-8">@Model.Username</dd>

                        <dt class="col-sm-4">نام</dt>
                        <dd class="col-sm-8">@Model.FirstName</dd>

                        <dt class="col-sm-4">نام خانوادگی</dt>
                        <dd class="col-sm-8">@Model.LastName</dd>

                        <dt class="col-sm-4">تلفن</dt>
                        <dd class="col-sm-8">@Model.PhoneNumber</dd>

                        <dt class="col-sm-4">آدرس</dt>
                        <dd class="col-sm-8">@Model.Address</dd>

                        <dt class="col-sm-4">کیف پول</dt>
                        <dd class="col-sm-8">@Model.Wallet.ToString("N0") تومان</dd>
                    </dl>

                    <div class="d-flex justify-content-end">
                        <a asp-action="Edit" class="btn btn-outline-primary mx-1">ویرایش پروفایل</a>
                        <a asp-action="ChangePassword" class="btn btn-outline-warning mx-1">تغییر رمز عبور</a>
                        <a asp-action="Orders" class="btn btn-outline-success mx-1">سفارش‌هایم</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>